<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhupp.ems.dao.DataMapper">
    <resultMap id="BaseResultMap" type="com.zhupp.ems.dto.DataDto">
        <id column="ems_data_id" jdbcType="BIGINT" property="dataId"/>
        <result column="ems_data_type" jdbcType="VARCHAR" property="dateType"/>
        <result column="ems_data_create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="ems_data_device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="ems_data_body" jdbcType="VARCHAR" property="data"/>
    </resultMap>
    <sql id="Base_Column_List">
        ems_data_id,
        ems_data_type,
        ems_data_create_date,
        ems_data_device_id,
        ems_data_body
    </sql>
    <select id="getDataListByDeviceId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ems_data
        where ems_data_device_id=#{deviceId,jdbcType=VARCHAR}
    </select>
    <insert id="addData">
      insert into ems_data
    (ems_data_type,ems_data_create_date,ems_data_device_id,ems_data_body)
    values (#{dateType,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},#{deviceId,jdbcType=VARCHAR},#{data,jdbcType=VARCHAR})
    </insert>

</mapper>