<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhupp.ems.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.zhupp.ems.dto.UserDto">
        <id column="ems_user_info_id" jdbcType="BIGINT" property="userInfoId"/>
        <result column="ems_user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="ems_user_password" jdbcType="VARCHAR" property="userPassword"/>
        <result column="ems_user_status" jdbcType="VARCHAR" property="userStatus"/>
        <result column="ems_user_id" jdbcType="VARCHAR" property="userID"/>
        <result column="ems_user_create_date" jdbcType="TIMESTAMP" property="userCreateDate"/>
        <result column="ems_user_update_date" jdbcType="TIMESTAMP" property="userUpdateDate"/>
    </resultMap>
    <select id="getPasswordByUserID" parameterType="java.lang.String" resultType="java.lang.String">
        select ems_user_password
        from ems_user
        where
        ems_user_id=#{userID,jdbcType=VARCHAR}
        and ems_user_status='0'
    </select>
    <select id="getUserList" resultMap="BaseResultMap">
        select ems_user_name,ems_user_status,ems_user_id,ems_user_create_date,ems_user_update_date
        from ems_user
    </select>
    <update id="updateUser">
        update ems_user
        <set>
            <if test="userDto.userStatus!=null">
                ems_user_status=#{userDto.userStatus,jdbcType=VARCHAR},
            </if>
            <if test="userDto.userName!=null">
                ems_user_name=#{userDto.userName,jdbcType=VARCHAR},
            </if>
            <if test="userDto.userPassword!=null">
                ems_user_password=#{userDto.userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userDto.userUpdateDate!=null">
                ems_user_update_date=#{userDto.userUpdateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ems_user_id=#{userDto.userID,jdbcType=VARCHAR}
    </update>
</mapper>